<header class="main-header">

  <div class="hero-section">
    <div class="hero-content">
      <h1>Join the Green Revolution!</h1>
      <p>Make an impact with your everyday choices. </p>
    </div>
  </div>
</header>

<main>


  <div class="content-row">
    <section class="app-introduction">
      <h2>Welcome to WasteWiseWeb <span class="wave">👋</span></h2>
      <p>At WasteWiseWeb, we're not just managing waste—we're revolutionizing the approach to sustainability. Our innovative platform transforms everyday choices into impactful actions for a greener tomorrow. Ready to make a difference with every swipe and click? Join our community of eco-conscious individuals and businesses making the sustainable choice the only choice.</p>
      <a routerLink="/signup" class="join-us-button">Become a Sustainability Hero</a>
    </section>

    <section class="how-to-recycle">
      <h2>Your Recycling Choices</h2>
      <p>No matter which option you choose, you're contributing to a sustainable future. Our user-friendly platform is designed to adapt to your lifestyle, giving you the tools and support needed to make recycling a seamless part of your daily routine. Take the next step in your recycling journey—choose your path and let's make a positive impact together.</p>
      <a routerLink="/howto" class="explore-button">Explore</a>
    </section>
  </div>

  <h2 class="latest-news-title">Checkout the Latest News</h2>

  <section class="features">
    <a href="https://www.futurelearn.com/info/blog/how-to-reduce-your-carbon-footprint-tips" class="feature" target="_blank">
      <article>
        <img src="/assets/Article1.png" alt="Eco-Friendly Tips">
        <h3>Eco-Friendly Tips</h3>
        <p>Discover how to reduce your carbon footprint with daily tips.</p>
      </article>
    </a>
    <a href="https://www.rts.com/blog/earth-week-special-5-solutions-to-ocean-plastic-pollution/" class="feature" target="_blank">
      <article>
        <img src="/assets/Article2.jpg" alt="Ocean Plastic Pollution Solutions">
        <h3>Five solutions to ocean plastic pollution</h3>
        <p>Most ingenious and innovative ways to deal with the epidemic of plastic in our oceans.</p>
      </article>
    </a>
    <a href="https://medium.com/kiira-motors-corporation/10-creative-ways-to-recycle-plastic-bottles-77f48e4961f" class="feature" target="_blank">
      <article>
        <img src="/assets/Article3.webp" alt="Creative Recycling of Plastic Bottles">
        <h3>How to Turn Trash into Treasure</h3>
        <p>10 Creative ways to Recycle Plastic Bottles.</p>
      </article>
    </a>
  </section>
</main>
