* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f8;
}


.wave {
  display: inline-block;
  animation: wave-animation 2s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14deg) }
  20% { transform: rotate(-8deg) }
  30% { transform: rotate(14deg) }
  40% { transform: rotate(-4deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}


.latest-news-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 20px 0;
  margin-top: 40px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-section {
  position: relative;
  background: url('/assets/header-background.jpg');
  background-size: 100% 100%;
  text-align: center;
  padding: 8rem 0;
  color: #fff;
  background-size: contain;
  background-attachment: fixed;
}

.hero-section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}



.hero-section h1 {
  color: rgba(0, 77, 80, 0.9);
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  transition: all 0.5s ease-in-out;
}

.hero-section p {
  color: rgba(0, 77, 100, 0.9);
  font-size: 1.5rem;
  line-height: 1.8;
  max-width: 800px;
  margin: auto;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  transition: all 0.5s ease-in-out;
}

.hero-content {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-section .cta-button {
  background-color: #5cb85c;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-section .cta-button:hover {
  background-color: #4cae4c;
}




.app-introduction p {
  color: #333333;
  line-height: 1.8;
  font-size: 1.2rem;
  margin-bottom: 32px;
}

.how-to-recycle p {
  color: #333333;
  line-height: 1.8;
  font-size: 1.2rem;
  margin-bottom: 32px;
}






.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.feature {
  background: #f4f4f4;
  padding: 1.5rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.feature img {
  width: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}


.feature h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 1.25rem;
}

.feature p {
  color: #666;
  font-size: 0.95rem;
  line-height: 1.5;
}






.content-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.app-introduction, .how-to-recycle {
  flex: 1;
  margin: 0 10px;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.app-introduction h2, .how-to-recycle h2 {
  color: #02475e;
  margin-bottom: 20px;
  font-size: 2rem;
}


.join-us-button, .explore-button {
  background-color: #356859;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
}

.join-us-button:hover, .explore-button:hover {
  background-color: #2a4858;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


.app-introduction:hover, .how-to-recycle:hover {
  background-color: #e6e6e6;
}


