<p-tabView>
    <p-tabPanel header="Cabs">
        <div class="table-container">
            <h2>Our Cabs</h2>
            <p-table [value]="cabs" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID<p-sortIcon field="plateNumber"></p-sortIcon></th>
                        <th pSortableColumn="plateNumber">Plate Number<p-sortIcon field="plateNumber"></p-sortIcon></th>
                        <th>Collector Name</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cab>
                    <tr>
                        <td>{{ cab.id }}</td>
                        <td>{{ cab.plateNumber }}</td> 
                        <td>{{ cab.collectorName }}</td>
                        <td>
                            <button class="action-button edit-button" (click)="editCab(cab)">Edit</button>
                            <button class="action-button delete-button" (click)="deleteCab(cab)">Delete</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Orders">
        <div class="table-container">
            <h2>Orders</h2>
            <p-table [value]="orders" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th>Type</th>
                  <th>Regular User ID</th>
                  <th>Collector ID</th>
                  <th>Payment ID</th>
                  <th>Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-order>
                <tr>
                  <td>{{ order.id }}</td>
                  <td>{{ order.type }}</td>
                  <td>{{ order.regularUserId }}</td>
                  <td>{{ order.collectorId }}</td>
                  <td>{{ order.paymentId }}</td>
                  <td>
                    <button class="action-button edit-button" (click)="editOrder(order)">Edit</button>
                    <button class="action-button delete-button" (click)="deleteOrder(order)">Delete</button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
    </p-tabPanel>
    <p-tabPanel header="Collectors">
        <div class="table-container">
            <h2>Collectors</h2>
            <p-table [value]="collectors" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Cab ID</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-collector>
                    <tr>
                        <td>{{ collector.id }}</td>
                        <td>{{ collector.firstName }}</td>
                        <td>{{ collector.lastName }}</td>
                        <td>{{ collector.phoneNumber }}</td>
                        <td>{{ collector.email }}</td>
                        <td>{{ collector.cabID }}</td>
                        <td>
                            <button class="action-button edit-button" (click)="editCollector(collector)">Edit</button>
                            <button class="action-button delete-button" (click)="deleteCollector(collector)">Delete</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Recyclable Products">
        <p>Details about Recyclable Products</p>
    </p-tabPanel>
</p-tabView>

<p-dialog
    header="Cab Details"
    [(visible)]="displayEditModal"
    [modal]="true">
    <h2>Edit Cab</h2>
    <form [formGroup]="editCabForm" (ngSubmit)="onSaveCab()">
        <div>
            <label>Plate Number:</label>
            <input type="text" formControlName="plateNumber">
        </div>
        <div>
            <label>Collector Name:</label>
            <input type="text" formControlName="collectorName">
        </div>
        <div>
            <button type="button" (click)="onCancelCab()">Cancel</button>
            <button type="submit" (click)="onSaveCab()">Save</button>
        </div>
    </form>
</p-dialog>

<p-dialog
    header="Order Details"
    [(visible)]="displayEditOrderModal"
    [modal]="true">
    <h2>Edit Order</h2>
    <form [formGroup]="editOrderForm" (ngSubmit)="onSaveOrder()">
        <div>
            <label>Type:</label>
            <select formControlName="type">
                <option *ngFor="let type of statusTypes" [value]="type">{{ getStatusDisplayName(type) }}</option>
            </select>        
        </div>
        <div>
            <button type="button" (click)="onCancelOrder()">Cancel</button>
            <button type="submit" (click)="onSaveOrder()">Save</button>
        </div>
    </form>
</p-dialog>

<p-dialog
    header="Collector Details"
    [(visible)]="displayEditCollectorModal"
    [modal]="true">
    <h2>Edit Collector</h2>
    <form [formGroup]="editCollectorForm" (ngSubmit)="onSaveCollector()">
        <div>
            <label>First Name:</label>
            <input type="text" formControlName="firstName">
        </div>
        <div>
            <label>Last Name:</label>
            <input type="text" formControlName="lastName">
        </div>
        <div>
            <label>Phone Number:</label>
            <input type="text" formControlName="phoneNumber">
        </div>
        <div>
            <label>Email:</label>
            <input type="email" formControlName="email">
        </div>
        <div>
            <label>Cab ID:</label>
            <input type="number" formControlName="cabID">
        </div>
        <div>
            <button type="button" (click)="onCancelCollector()">Cancel</button>
            <button type="submit" (click)="onSaveCollector()">Save</button>
        </div>
    </form>
</p-dialog>
