/* Resets */
html, body, :host {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 70px); /* Ajustează înălțimea pentru a lua în considerare navbar-ul */
  margin-top: 70px; /* Ajustează în funcție de înălțimea navbar-ului */
  padding: 20px;
  box-sizing: border-box;
}

/* Container for the map */
.map-container {
  flex: 1;
  height: 60vh; /* Ajustează înălțimea hărții */
  width: 80vw;
  max-width: 1200px;
  margin-top: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Styling for the controls */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.controls input.location-input {
  width: 300px;
  padding: 8px;
  margin-right: 5px;
  border: 2px solid #007bff; /* Blue border */
  border-radius: 4px;
  background-color: #f8f9fa; /* Light background */
}

.controls button.location-button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border: none;
  border-radius: 4px;
}

.controls button.location-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
