<div class="container">
  <div class="controls">
    <input id="autocomplete" #autocompleteInput placeholder="Enter your location" class="location-input" />
    <button (click)="updateLocation()" class="location-button">Go</button>
  </div>

  <div class="map-container">
    <google-map height="100%"
                width="100%"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)">
    </google-map>
  </div>
</div>
