<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Team</title>
  <link rel="stylesheet" href="team.component.css">
</head>
<body>
<section class="team-section" >
  <h2>Our Team</h2>
  <div class="team-container">

    <div class="team-member">
      <div class="profile-image">
        <img src="/assets/helena_profile2.png" alt="Helena">
      </div>
      <h3>Helena Pastore</h3>
      <p>Developer</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/helena-pastore-593744240/" target="_blank"><img src="/assets/linkedin.png" alt="LinkedIn"></a>
        <a href="https://www.instagram.com/helena.jullia/" target="_blank"><img src="/assets/instagram.png" alt="Instagram"></a>
      </div>
    </div>

    <div class="team-member">
      <div class="profile-image">
        <img src="/assets/carina_profile.jpg" alt="Carina">
      </div>
      <h3>Carina Nistor</h3>
      <p>Developer</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/carina-nistor-1ab51b237/" target="_blank"><img src="/assets/linkedin.png" alt="LinkedIn"></a>
        <a href="https://www.instagram.com/carinanistor/" target="_blank"><img src="/assets/instagram.png" alt="Instagram"></a>
      </div>
    </div>

  </div>
</section>
</body>
</html>
