.login-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 130px;
  padding: 110px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.form-group {
  margin-bottom: 25px;
}

.form-control {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.remember-me {
  display: flex;
  justify-content: space-between;
}

.remember-me label {
  margin-left: 10px;
}

.forgot-password {
  color: #00A699;
  text-decoration: none;
  margin-left: auto;
}

.btn-sign-in {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #00A699;
  color: white;
  cursor: pointer;
}

.btn-sign-in:hover {
  background-color: #00897b;
}

.sign-up {
  margin-top: 20px;
  font-size: 0.9em;
}

.btn-sign-up {
  color: #00A699;
  text-decoration: none;
}

.btn-sign-up:hover {
  text-decoration: underline;
}


