.table-container {
    margin: 40px auto;
    width: 95%; 
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); 
    padding: 35px;
    background: white;
    border-radius: 8px; 
    text-align: left;
}

.p-datatable {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

.p-datatable th,
.p-datatable td {
    text-align: left;
    padding: 20px;
    border-bottom: 2px solid #e0e0e0;
}

.p-datatable thead th {
    background-color: #5A6268;
    color: white;
    font-weight: 600;


}

.p-datatable tbody tr:nth-child(odd) {
    background-color: #f7f7f7; 
}

.p-datatable tbody tr:hover {
    background-color: #e9ecef; 
}

.action-button {
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: #17a2b8; 
}

.edit-button:hover {
    background-color: #138496;
}

.delete-button {
    background-color: #dc3545; 
}

.delete-button:hover {
    background-color: #c82333; 
}
