body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #e5e5e5;
  height: 100%;
}

.main-container {
  text-align: center;
  max-width: 1000px;
  margin: 100px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border-radius: 10px;
}

h1 {
  font-size: 2.6em;
  color: #333;
  margin-bottom: 50px;
}

.option {
  margin-bottom: 30px;
}

.option-button {
  display: block;
  padding: 0px;
  background-color: #f0f0f0;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.option-button:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 40px rgba(0,0,0,0.2);
}

.option-content h2 {
  font-size: 2em;
  color: #007BFF;
  margin-bottom: 15px;
}

.option-content p {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
}

.animation-container {
  height: 100px; /* Set as needed */
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.map-animation {
  background-image: url('/assets/pin_on_map.png'); /* Replace with your image path */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: bounce 2s infinite;
}

@keyframes ride {
  0% { left: -100%; }
  100% { left: 100%; }
}

.rider-animation {
  background-image: url('/assets/road.jpeg'); /* Replace with your image path */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px; /* Adjust as necessary for your image */
}

.rider-animation::after {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/assets/collector.png '); /* Replace with your image path */
  background-size: contain;
  background-repeat: no-repeat;
  animation: ride 5s linear infinite;
}

/* Responsive design for small screens */
@media (max-width: 768px) {
  .main-container {
    margin: 50px auto;
    padding: 10px;
  }

  .option-content h2 {
    font-size: 1.5em;
  }

  .option-content p {
    font-size: 1em;
  }
}
