.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 160px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-header .logo {
  max-width: 30%;
  height: auto;
}

.login-header h2 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.remember-me {
  display: flex;
  justify-content: space-between;
}

.remember-me label {
  margin-left: 5px;
}

.forgot-password {
  color: #00A699;
  text-decoration: none;
  margin-left: auto;
}

.btn-sign-in {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #00A699;
  color: white;
  cursor: pointer;
}

.btn-sign-in:hover {
  background-color: #00897b;
}

.sign-up {
  margin-top: 20px;
  font-size: 0.9em;
}

.btn-sign-up {
  color: #00A699;
  text-decoration: none;
}

.btn-sign-up:hover {
  text-decoration: underline;
}


