
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar .nav-links a {
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar .nav-links .cta {
  background-color: #5cb85c;
}

.navbar .nav-links a:hover,
.navbar .nav-links .cta:hover {
  background-color: #4cae4c;
}

.hero-section {
  position: relative;
  background: url('/assets/header-background.jpg') no-repeat center center/cover;
  background-size: 100% 100%;
  text-align: center;
  padding: 8rem 0;
  color: #fff;
}

.hero-section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}



.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-section .cta-button {
  background-color: #5cb85c;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-section .cta-button:hover {
  background-color: #4cae4c;
}


.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.feature {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.feature h3 {
  margin-bottom: 1rem;
  color: #333;
}

.feature p {
  color: #666;
}


.site-footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.site-footer .footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.site-footer .footer-content > div {
  margin: 1rem;
}

.site-footer .footer-content h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.site-footer .footer-content p,
.site-footer .footer-content a {
  font-size: 1rem;
  line-height: 1.6;
}

.site-footer .footer-content a {
  color: #fff;
  text-decoration: none;
}

.site-footer .footer-bottom {
  margin-top: 2rem;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .navbar .nav-links {
    flex-direction: column;
  }

  .hero-section {
    padding: 2rem 0;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .site-footer .footer-content {
    flex-direction: column;
  }
}
