<header class="main-header">
<!--  <nav class="navbar">-->
<!--    <div class="logo">WasteWiseWeb</div>-->
<!--    <div class="nav-links">-->
<!--      <a href="#get-started" class="cta">Get Started</a>-->
<!--      <a href="#team">Team</a>-->
<!--    </div>-->
<!--  </nav>-->
  <div class="hero-section">
    <div class="hero-content">
      <h1>Join the Green Revolution!</h1>
      <p>Make an impact with your everyday choices. </p>
      <p>Learn more about efficient recycling with WasteWiseWeb.</p>
<!--      <a routerLink="/signup" class="cta-button">Get Started</a>-->
    </div>
  </div>
  <div class="upper-container">
    <h1>Join the Green Revolution!</h1>
    <p>WasteWiseWeb is charting a new course in waste management. With our innovative platform, we're making sustainability accessible and actionable. Your guide to a greener tomorrow is right here, turning intention into impact with every use. Join us, and make the sustainable choice the easy choice.</p>
  </div>
</header>

<!-- Main Content -->
<main>
  <section class="features">
    <!-- Feature 1 -->
    <article class="feature">
      <h3>Eco-Friendly Tips</h3>
      <p>Discover how to reduce your carbon footprint with daily tips.</p>
    </article>
    <!-- Feature 2 -->
    <article class="feature">
      <h3>Recycling Locations</h3>
      <p>Find the nearest recycling centers and contribute to environmental protection.</p>
    </article>
    <!-- Feature 3 -->
    <article class="feature">
      <h3>Community Support</h3>
      <p>Join our community to collaborate and share your green initiatives.</p>
    </article>
  </section>
</main>