body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; /* Ensures padding and borders are included in width/height calculations */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0; /* Ensure it starts from the very left edge */
  right: 0; /* Ensure it extends to the right edge */
  z-index: 10;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-logo img {
  height: 60px;
  width: auto;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 0; /* Remove default margin */
}

.navbar-menu li {
  margin-right: 50px;
}

.navbar-menu li a {
  text-decoration: none;
  color: white; /* Adjusted for better visibility against dark background */
  transition: color 0.3s;
}

.navbar-menu li a:hover,
.navbar-menu li .team-btn:hover,
.navbar-menu li .get-started-btn:hover {
  color: #fff;
}

.navbar-button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Color adjusted for contrast and visibility */
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: #367C39; /* Darker shade for hover state */
}

.main-content {
  padding-top: 80px; /* Ensure content starts below the navbar */
  padding-bottom: 50px;
  min-height: 100vh;
}
