

<div class="navbar">
  <div class="navbar-logo">
    <!-- Update the href to the path of your intro page -->
    <a href="/intro">
      <img src="../../../assets/Logo.png" alt="Logo">
    </a>
  </div>
  <ul class="navbar-menu">
    <li><a routerLink="/signup" class="navbar-button get-started-btn">Get Started</a></li>
    <li><a routerLink="/team" class="navbar-button">Team</a></li>
  </ul>
</div>
  <div class="navbar">
    <div class="navbar-logo">
      <img src="assets/Logo.png" alt="Logo">
    </div>
    <ul class="navbar-menu">
      <li><a routerLink="/signup" class="navbar-button get-started-btn">Get Started</a></li>
      <li><a href="team" class="navbar-button">Team</a></li>
    </ul>
  </div>



